@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
}

.bgprimary {
    background: #F2D5C4;
}

.bgSecondary {
    background: #FEF6F0;
}

.bgThird {
    background: #FFFBF7;
}

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        padding: 0 45px;
    }

    nav h3 {
        font-size: 1.5rem;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
    }
    .navMenu {
        display: flex;
        width: 40%;
        height: 20px;
        
        font-family: 'Raleway', sans-serif;
        font-size: 0.9rem;
        justify-content: space-around;
    }

    .navMenu a{
        color: #a77676;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.4rem;
        text-align: center;
    }

    .imgFundo {
        background-image: url("../img/background-image.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
    }

    .detalhes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 400px;
        width: 23%;
        padding-left: 100px;
        font-family: 'Poppins', sans-serif;
    }

    .detalhes input {
        width: 80%;
        height: 50px;
        padding: 0 16px;
        font-family: 'Poppins', sans-serif;
        border: none;
    }

    .detalhes input:focus {
        outline: none
    }

    .detalhes button {
        width: 50%;
        height: 50px;
        background: #463232;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-size: 1.1rem;
        border: none;
        outline: none;
        box-shadow: 3px 3px 3px black;
    }

    .empresas {
        text-align: center;
        height: 2rem;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        padding-top: 15px;
    }

    .logos {
        display: flex;
        justify-content: space-evenly;
        padding: 15px 0;
    }

    .produtos {
        display: flex;
        justify-content: space-evenly;
        height: 650px;
    }

    .produtoUnico {
        font-family: "Poppins", sans-serif;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .produtoUnico h2 {
        font-size: 1.9rem;
    }

    #comprar {
        width: 30%;
        height: 50px;
        background: #463232;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-size: 1rem;
        border: none;
        outline: none;
        box-shadow: 3px 3px 3px black;
    }

    #detalhes {
        width: 30%;
        height: 50px;
        background: #fff;
        font-family: 'Poppins', sans-serif;
        color: #463232;
        font-size: 1rem;
        border: 1px solid #463232;
        outline: none;
        box-shadow: 3px 3px 3px grey;
    }

    .maisProdutos {
        display: flex;
        font-family: "Poppins", sans-serif;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .maisProdutos h2 {
        width: 40%;
        height: 50px;
        font-size: 2.2rem;
        padding: 20px 40px;
        text-transform: uppercase;
    }

    .maisProdutos p {
        width: 40%;
        height: 50px;
        font-size: 1rem;
        padding: 10px 40px;
    }

    .doisProdutos {
        display: flex;
        justify-content: space-around;
        padding: 20px 30px 50px 0;
    }

    .doisProdutos .produtoUm {
        display: flex;
        flex-direction: column;
    }

    .doisProdutos .produtoDois {
        display: flex;
        flex-direction: column;
    }

    .produtoUm h3 {
        font-family: "Poppins", sans-serif;
        text-align: center;
        padding: 10px 0;
        font-size: 1.6rem;
    }

    .produtoUm p {
        font-family: "Poppins", sans-serif;
        text-align: center;
        padding: 10px 0;
    }

    .botaoU {
        width: 30%;
        height: 50px;
        background: #463232;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-size: 1rem;
        border: none;
        outline: none;
        box-shadow: 3px 3px 3px black;
        padding: 0 10px;
    }

    .botaoD {
        width: 60%;
        height: 50px;
        background: #fff;
        font-family: 'Poppins', sans-serif;
        color: #463232;
        font-size: 1rem;
        border: 1px solid #463232;
        outline: none;
        box-shadow: 3px 3px 3px grey;
        padding: 0 10px;
    }

    .bbt {
        display: flex;
        justify-content: space-around;
    }

    .produtoDois h3 {
        font-family: "Poppins", sans-serif;
        text-align: center;
        padding: 10px 0;
        font-size: 1.6rem;
    }

    .produtoDois p {
        font-family: "Poppins", sans-serif;
        text-align: center;
        padding: 10px 0;
    }

    .bbtU {
        width: 30%;
        height: 50px;
        background: #463232;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-size: 1rem;
        border: none;
        outline: none;
        box-shadow: 3px 3px 3px black;
        padding: 0 10px;
    }

    .botD {
        width: 60%;
        height: 50px;
        background: #fff;
        font-family: 'Poppins', sans-serif;
        color: #463232;
        font-size: 1rem;
        border: 1px solid #463232;
        outline: none;
        box-shadow: 3px 3px 3px grey;
        padding: 0 10px;
    }

    .bbtD {
        display: flex;
        justify-content: space-around;
    }

    .bgThird {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-evenly;
        padding: 50px 0;
        
    }

    .infoU h3{
        font-family: 'Montserrat', sans-serif;
        color: #463232;
        font-size: 2.0rem;
        text-align: center;
    }

    .infoU p {
        font-family: 'Montserrat', sans-serif;
        color: grey;
        font-size: 1rem;
        text-align: center;
    }

    .infoD h3{
        font-family: 'Montserrat', sans-serif;
        color: #463232;
        font-size: 2.0rem;
        text-align: center;
    }

    .infoD p {
        font-family: 'Montserrat', sans-serif;
        color: grey;
        font-size: 1rem;
        text-align: center;
    }

    .infoT h3 {
        font-family: 'Montserrat', sans-serif;
        color: #463232;
        font-size: 2.0rem;
        text-align: center;
    }

    .infoT p {
        font-family: 'Montserrat', sans-serif;
        color: grey;
        font-size: 1rem;
        text-align: center;
    }

    footer {
        font-family: 'Poppins', sans-serif;
        color: grey;
        font-size: 0.8rem;
        text-align: center;
        padding: 20px 50px;
        border-style: ridge;
        border-width: 1px;
        border-top-color: #F2D5C4;
        border-right: none;
        border-left: none;
        border-bottom: none ;
    }

    .modal {
        /*display: none; */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb (0,0,0);
        background-color: rgba( 0,0,0,0.5);
    }

    .modal-content {
        background-color: #f2d5c4;
        margin: 10rem auto;
        padding: 20px;
        border: 1px solid #463232;
        border-radius: 5px;
        width: 35%;
    }

    .modal-content h3{
        font-size: 2rem;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin: 15px;
    }

    .input-modal {
        display: block;
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        align-items: center;
        font-family: "Poppins", sans-serif;
        text-align: center;
    }

    .input-modal button {
        cursor: pointer;
        width: 30%;
        height: 30px;
        background: #463232;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-size: 1rem;
        border: 1px solid #463232;
        outline: none;
        box-shadow: 3px 3px 3px grey;
    }

    #myBtn {
        cursor: pointer;
    }

    .input-modal input {
        width: 50%;
        height: 30px;
        padding: 0 10px;
        font-family: 'Poppins', sans-serif;
        border: none; 
    }

    .close {
        color: #463232;
        font-size: 28px;
        font-weight: bold;
        float: right;
        cursor: pointer;
    }